@import url("/reset/reset.css");
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
  font-size: 25px;
  font-weight: 500;
  padding: 44px 330px 44px 330px;
}

header li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  padding: 44px 30px 0 30px;
  cursor: pointer;
}

header li:last-child {
  margin-right: 220px;
}

header li:active {
  border-bottom: 5px solid #e8bf5d;
}

.spot {
  color: #e8bf5d;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adamcontact {
  background-image: url(/images/stock-photo-177211577.png);
  height: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 75vh;
  max-height: 120px;
}

.adamcontact button {
  font-family: 'Oswald', sans-serif;
  height: 50px;
  width: 180px;
  border-radius: 30px;
  background-color: #e8bf5d;
  border: none;
  font-size: 16px;
}

.adamcontact button:hover {
  cursor: pointer;
  color: #be890e;
}

.adam_name {
  border-left: #e8bf5d solid 5px;
  height: 80px;
  color: white;
}

.adam_name span {
  font-size: 45px;
  margin-left: 30px;
}

.adam_name p {
  font-size: 20px;
  margin-left: 30px;
}

.number {
  z-index: 0;
  padding: 95px 780px 85px 360px;
}

.number span {
  font-size: 38px;
  font-weight: 500;
  margin-left: 20px;
}

.number p {
  font-size: 20px;
  margin: 20px 0 0 20px;
  color: #666;
}

.history__us {
  z-index: 1;
  border-left: #e8bf5d solid 2px;
  margin: -120px 0 0 -15px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 350px 0 345px;
  display: flex;
}

.section .section__span {
  width: 1200px;
}

.section .section__span h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 50px;
}

.section .section__span span {
  font-size: 22px;
  font-weight: 600;
  margin: 0 50px 60px 0;
}

.section .section__span li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  margin-right: 45px;
}

.section .section__span p {
  font-size: 18px;
  line-height: 31px;
}

.practis__area {
  background-color: #111111;
  color: #ffffff;
}

.practis__area .practis__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 450px 60px 450px;
}

.practis__area .practis__icons span {
  font-size: 22px;
  margin-bottom: 5px;
  margin-left: 80px;
}

.practis__area .practis__icons p {
  font-size: 16px;
  margin: 40px 0 0 80px;
}

.private {
  position: relative;
}

.private::before {
  content: "";
  background-image: url(/images/hend.png);
  margin-left: -70px;
  position: absolute;
  width: 58px;
  height: 38px;
}

.labour {
  position: relative;
}

.labour::before {
  content: "";
  background-image: url(/images/key.png);
  margin-left: -70px;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 40px;
}

.cyber {
  position: relative;
}

.cyber::before {
  content: "";
  background-image: url(/images/pc.png);
  margin-left: -70px;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 40px;
}

.real {
  position: relative;
}

.real::before {
  content: "";
  background-image: url(/images/home.png);
  margin-left: -70px;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 40px;
}

.squad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 100px;
}

.squad img {
  margin: 0 40px;
}

.squad span {
  display: block;
  margin: 15px 40px;
  font-size: 22px;
  font-weight: 500;
}

.squad p {
  margin: 0 40px;
  color: #666666;
  padding-bottom: 100px;
}

.alon {
  background-color: #111111;
}

.alon span {
  color: white;
}

.alon__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 470px 100px 360px;
}

.alon__info .alon__foto {
  -webkit-box-shadow: 20px 20px 0px 10px #e8bf5d;
          box-shadow: 20px 20px 0px 10px #e8bf5d;
  margin-right: 100px;
}

.alon__info p {
  color: white;
  line-height: 2.21;
  letter-spacing: 0.56px;
}

.alon__info span {
  font-size: 22px;
}

.aftr {
  position: relative;
  margin: 40px 0;
}

.aftr::before {
  position: absolute;
  content: "";
  background-image: url(/images/aftr.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: -40px;
}

.container__publications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__publications .publications {
  width: auto;
  width: 360px;
  margin-right: 40px;
}

.container__publications .publications h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 25px 0 10px 0;
}

.container__publications .publications span {
  font-size: 18px;
  font-weight: 500;
}

.container__publications .publications p {
  line-height: 1.7;
  margin: 30px 0;
  color: #666;
}

.container__publications .publications p span {
  color: #111111;
}

.container__publications .publications .date p {
  display: inline;
}

.container__publications .publications .date .date__left {
  margin-left: 125px;
  text-align: left;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.asked {
  background-color: #111111;
  color: #ffffff;
  min-height: 700px;
}

.asked .asked__box {
  height: 280px;
  width: 500px;
  background-color: #e8bf5e;
  margin: 0 0 0 350px;
  color: #111111;
  line-height: 2.2;
  -webkit-box-shadow: 2px 2px 3px 2px #e8bf5d;
          box-shadow: 2px 2px 3px 2px #e8bf5d;
}

.asked .asked__box p {
  padding: 40px;
  font-weight: 600;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 480px;
  color: #333333;
}

.form__container input {
  border: none;
  border-bottom: #333333 solid 1px;
  margin: 0 150px 40px 0;
  width: 300px;
}

.form__container textarea {
  border: none;
  border-bottom: #333333 solid 1px;
  width: 300px;
  margin-bottom: 40px;
}

.form__container .form__button {
  font-family: 'Oswald', sans-serif;
  height: 50px;
  width: 180px;
  border-radius: 30px;
  background-color: #e8bf5d;
  border: none;
  font-size: 16px;
}

.form__input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: solod 2px #e0e0e0e0;
}

.form_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 400px;
  padding-top: 50px;
  -webkit-box-shadow: #333 0 0 3px 1px;
          box-shadow: #333 0 0 3px 1px;
}

.form_map .map {
  height: 370px;
  width: 370px;
  -webkit-box-shadow: -30px 30px 0px 5px  #e8bf5d;
          box-shadow: -30px 30px 0px 5px  #e8bf5d;
}

.active, .btn:hover {
  border-bottom: 3px solid #e8bf5d;
  padding-bottom: 20px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  background-color: #111111;
}

.footer__info span {
  padding: 30px 0;
}

.footer__info img {
  padding: 30px 0;
}
/*# sourceMappingURL=style.css.map */