@import url("/reset/reset.css");
@mixin section__heders {
    // border-left: #e8bf5d solid 2px;
    z-index: 0;
    padding: 95px 780px 85px 360px; 
    span {
        font-size: 38px;
        font-weight: 500;
        margin-left: 20px;
        
    }
    p {
        font-size: 20px;
        margin: 20px 0 0 20px;
        color: #666;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: #ffffff;
}

header {
        display: flex;
        justify-content: space-around;
        h1 {
            font-family: 'Oswald', sans-serif;
            letter-spacing: 0.1em;
            font-size: 25px;
            font-weight: 500;
            padding: 44px 330px 44px 330px;
        }
        li {
            justify-content: center;
            align-items: center;
            display: inline-block;
            padding: 44px 30px 0 30px;
            
            cursor: pointer;
        }
        li:last-child{
            margin-right: 220px;
        }
        li:active{
            border-bottom: 5px solid #e8bf5d;
        }
}

.spot{
    color: #e8bf5d;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.adamcontact{
    background-image: url(/images/stock-photo-177211577.png);
    height: 790px;
    display: flex;
    justify-content: space-around;
    padding-top: 75vh;
    max-height: 120px;
    button {
        font-family: 'Oswald', sans-serif;
        height: 50px;
        width: 180px;
        border-radius: 30px;
        background-color: #e8bf5d;
        border: none;
        font-size: 16px;
    }
    button:hover {
        cursor: pointer;
        color: #be890e;
    }
}

.adam_name{
    border-left: #e8bf5d solid 5px;
    height: 80px ;
    color: white;
    span {
        font-size: 45px;
        margin-left: 30px;
    }
    p {
        font-size: 20px;
        margin-left: 30px;
    }
}

.number{
    @include section__heders
}

.history__us{
    z-index: 1;
    border-left: #e8bf5d solid 2px;
    margin: -120px 0 0 -15px;
    
}
.section{
    display: flex;
    padding: 0 350px 0 345px;
    display: flex;
    .section__span{
        width: 1200px;
        h3{
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 50px;
        }
        span {
            font-size: 22px;
            font-weight: 600;
            margin: 0 50px 60px 0;

        }
        li {
            display: flex;
            font-weight: 600;
            margin-right: 45px;
        }
        p {
            font-size: 18px;
            line-height: 31px;
        }

    }
}

.practis__area{
    background-color: #111111;
    color: #ffffff;
    .practis__icons{
        display: flex;
        padding: 0 450px 60px 450px; 
        span {
            font-size: 22px;
            margin-bottom: 5px;
            margin-left: 80px;
        }
        p{
            font-size: 16px;
            margin: 40px 0 0 80px;    
        }
    }
}

.private{
    position: relative;
}

.private::before{
    content: "";
    background-image: url(/images/hend.png);
    margin-left: -70px;
    position: absolute;
    width: 58px;
    height: 38px;
}

.labour{
    position: relative;
}

.labour::before{
    content: "";
    background-image: url(/images/key.png);
    margin-left: -70px;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 40px;
}

.cyber{
    position: relative;
}

.cyber::before{
    content: "";
    background-image: url(/images/pc.png);
    margin-left: -70px;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 40px;
}

.real{
    position: relative;
}

.real::before{
    content: "";
    background-image: url(/images/home.png);
    margin-left: -70px;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 40px;
}

.squad{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    img {
        margin: 0 40px;
    }
    span {
        display: block;
        margin: 15px 40px;
        font-size: 22px;
        font-weight: 500;
    }
    p{
        margin: 0 40px;
        color: #666666;
        padding-bottom: 100px;
    }
}

.alon{
    background-color: #111111;
    span{
        color: white;
    }
}

.alon__info{
    display: flex;
    padding: 0 470px 100px 360px;
    .alon__foto {
        box-shadow: 20px 20px 0px 10px #e8bf5d;
        margin-right: 100px;
    }
    p{
        color: white;
        line-height: 2.21;
        letter-spacing: 0.56px;
    }
    span{
        
        font-size: 22px;
    }
}

.aftr{
    position: relative;
    margin: 40px 0;
}

.aftr::before{
    position: absolute;
    content:"";
    background-image: url(/images/aftr.png);
    background-repeat: no-repeat;;
    height: 30px;
    width: 30px;
    margin-left: -40px;
}

.container__publications{
    display: flex;
    justify-content: center;
    .publications{
        width: auto;
        width: 360px;
        margin-right: 40px;
        h3 {
            font-size: 22px;
            font-weight: 500;
            margin: 25px 0 10px 0;
        }
        span{
            font-size: 18px;
            font-weight: 500;
        }
        p {
            line-height: 1.7;
            margin: 30px 0;
            color:#666;
            span {
        
                color: #111111;
            }
        }
        .date{
            p {
                display: inline;
            }
            .date__left{
                margin-left: 125px;
                text-align: left;
            }
        }
    }
}

.share{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.asked{
    background-color: #111111;
    color: #ffffff;
    min-height: 700px;
    .asked__box{
        height: 280px;
        width: 500px;
        background-color: hsl(42, 75%, 64%);
        margin: 0 0 0 350px;
        color: #111111;
        line-height: 2.2;
        box-shadow: 2px 2px 3px 2px #e8bf5d;
        p {
            padding: 40px;
            font-weight: 600;
        }
    }
}

.form__container{
    display: flex; 
    flex-direction: column;
    align-items: left;
    height: 480px;
    color: #333333;
    input {
        border: none;
        border-bottom: #333333 solid 1px;
        margin: 0 150px 40px 0;
        width: 300px;
    }
    textarea{
        border: none;
        border-bottom: #333333 solid 1px;
        width: 300px;
        margin-bottom: 40px;
    }
    .form__button{
        font-family: 'Oswald', sans-serif;
        height: 50px;
        width: 180px;
        border-radius: 30px;
        background-color: #e8bf5d;
        border: none;
        font-size: 16px;
    }
}

.form__input{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: solod 2px #e0e0e0e0;
}

.form_map{
    display: flex;
    justify-content: center;
    margin: 50px 400px;
    padding-top: 50px;
    box-shadow: #333 0 0 3px 1px;
    .map{
        height: 370px;
        width: 370px;
        box-shadow: -30px 30px 0px 5px  #e8bf5d;
    }
}

.active, .btn:hover {
    border-bottom: 3px solid #e8bf5d ;
    padding-bottom: 20px;
}

.footer__info{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    background-color: #111111;
    span{
        padding: 30px 0;
    }
    img{
        padding: 30px 0;
    }
}


